<ion-header>
  <ion-toolbar>
    <ion-title>Mis Clases</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/inicio" text="Volver" icon="chevron-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="misClases.length > 0; else noClases">
    <ion-item *ngFor="let clase of misClases">
      <ion-label>
        <h2>{{ clase.nombre }}</h2>
        <p>Sección: {{ clase.seccion }}</p>
        <p>Horarios: {{ clase.horarios }}</p>
      </ion-label>
      <ion-button color="primary" [routerLink]="['/justificativos', { idEstudiante: estudianteId, idClase: clase.id }]">
        Enviar Justificativo
      </ion-button>
      <ion-button color="primary" [routerLink]="['/codigo-qr']">
        Generar Código QR
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noClases>
    <ion-text color="medium" class="ion-text-center">
      <h2>No estás registrado en ninguna clase.</h2>
    </ion-text>
  </ng-template>
</ion-content>
