<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="estudiante">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ estudiante.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>ID:</strong> {{ estudiante.id }}</p>
      <p><strong>Correo:</strong> {{ estudiante.email }}</p>
      <p><strong>RUT:</strong> {{ estudiante.rut }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>